<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <span>开始年份:</span>
            <input type="text" placeholder="数据分析开始年份" ng-model="startYear" style="width:100%">
        </div>
        <div class="col-xs-4">
            <span>最低利润增长率(%):</span>
            <input type="text" placeholder="净利润和营业利润最低增长率" ng-model="minGrowthRate" style="width:100%">
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-info btn-sm" ng-click="search()" style="width:100%">筛选</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered center">
                <tr class="info">
                    <th class="center">股票代码</th>
                    <th class="center">毛利率</th>
                    <th class="center">货币资金占比</th>
                    <th class="center">净利润含金量</th>
                    <th class="center">总资产周转率</th>
                    <th class="center">操作</th>
                </tr>
                <tr ng-show="stocks.length == 0">
                    <td colspan="6" class="center red">未找到满足条件的股票</td>
                </tr>
                <tr ng-repeat="stock in stocks">
                    <td>{{stock.stockCode}}</td>
                    <td>{{stock.mlv | number:2}}%</td>
                    <td>{{stock.hbzjzb | number:2}}%</td>
                    <td>{{stock.jlrhjl | number:3}}</td>
                    <td>{{stock.zzczzl | number:3}}</td>
                    <td>
                        <a ui-sref="main.stockInfo({stockCode:stock.stockCode})" class="btn btn-success btn-xs">
                            特征分析
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>